.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
  }

  .profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500%;
    max-width: 600px;
    height: 500%;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .line {
    border-bottom: 1px solid lightgray; 
    width: 100%; 
    margin-top: 10px; 
  }
  
  .profile-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ccc;
  }
  
  .profile-info p {
    font-size: 1.5rem;
    margin: 20%;
    color: #333;
  }
  
  .edit-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    margin: 20%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  
  .profile-content {
    margin-top: 20px;
    padding: 15px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .profile-section {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
  }
  
  .profile-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .profile-input, .profile-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .profile-textarea {
    height: 100px;
    resize: none;
  }
  
  .error-text {
    color: red;
    font-size: 14px;
    margin-top: -15px;
    margin-bottom: 10px;
  }
  
  .save-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .save-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }